#footer {
  height: 300px;
  background-color: #fff;
font-family: 'Noto Sans KR', sans-serif;
font-weight: 600;
color: #d3313a;
}
#footer img {
  margin-top: 60px;
}
#footer .sns {
  color: #d3313a;
  padding: 10px;
}
#footer .sns a {
  display: inline-block;
  padding: 10px 8px;
}
#footer ul li {
  display: inline-block;
  padding: 0 10px;
}
#footer p{
  color: #999;
}